

.header{
    background-color: black;
    color: yellow;
}

.subheader{
    background-color: black;
    color: red;
}

.text{
    text-align: center;
    font-family: Helvetica,"Times New Roman" ,sans-serif;
}